.sign-up {
  min-height: 95vh;
  position: relative;
  background-color: lightblue;
  border-radius: 2rem;
}

.form__input {
  font-size: 1.5rem;
  // padding: 1rem 1.5rem;
  // border-radius: 5px;
  // border: none;
  // border-bottom: 3px solid transparent;
  // width: 100%;
  // display: block;
}

.row-height {
  min-height: 40rem;
}

.custom-shape-divider-bottom-1598337763 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1598337763 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 9.3rem;
  transform: rotateY(180deg);

  @media (max-width: 570px) {
    .custom-shape-divider-bottom-1598337763 svg {
      height: 1rem;
    }
  }
}

.custom-shape-divider-bottom-1598337763 .shape-fill {
  fill: #f9fafc;
}
